@use "../abstracts";
.btn {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 166.667%; /* 166.667% */
  padding-top: 16px;
  padding-bottom: 16px;
  @include abstracts.breakpoint(md) {
    font-size: 1.6rem;
    font-style: normal;
    line-height: 187.5%; /* 187.5% */
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &-1 {
    padding-left: 37px;
    padding-right: 37px;
    color: #fdfdfd;
    background: #5d3bee;

    @include abstracts.breakpoint(md) {
      padding-left: 31px;
      padding-right: 31px;
    }
  }

  &_2 {
    padding-left: 34px;
    padding-right: 34px;

    color: #080415;
    background: #fff;
  }
}
